
# MISC
*DS_Store
Icon?
# Thumbnails
._*
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
# Files that might appear on external disk
.Spotlight-V100
.Trashes
.metadata
.buildpath
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/*
.loadpath
.settings/**
.cproject
.project
.pydevproject
.loadpath
.idea/**
.idea/*
.bundle/*
bin/*
pagemetrics.yml
git-completion.bash
artifacts/*
artifacts/**

# GUI Framework
screenshots/
.idea
Gemfile.lock
*.orig
chromedriver.log
.ruby_version
.tailor
.libpeerconnection.log







